
target/classes/com/mycompany/hgulibrary/BookDetailPage$1.class
target/classes/com/mycompany/hgulibrary/BookDetailPage$1.class
target/classes/com/mycompany/hgulibrary/BookDetailPage$2.class
*.class
*.class
